{% extends 'base.html' %}
{% block body %}

<style>

thead, tbody {
display: block;
}

tbody {
overflow: scroll;
height: 600px;
}

th {
border:1px solid white;
color:white;
background-color: #696;
padding: 5px;
}

tr:hover {
background: steelblue none;
color: white;
}

td:hover {
background: steelblue none;
color: white;
padding: 5px;
}
.col000 {width: 050px;}
.col001 {width: 050px;}
.col002 {width: 200px;}
.col003 {width: 200px;}
.col004 {width: 200px;}
.col005 {width: 100px;}
.col006 {width: 100px;}
.col007 {width: 100px;}

</style>
<script>
function cmd_return(){
location.href = '/' ;
}
function cmd_insert(){
location.href = '/K000_insert' ;
}
function import_csv(){
location.href = '/K000_importcsv' ;
}
function output_json(){
location.href = '/K000_outputjson' ;
}
</script>

<h2>[K000_MENU]</h2>
<input type='button' name='link' value='戻る' onclick='cmd_return()'>
<input type='button' name='link' value='新規' onclick='cmd_insert()'>
<input type='button' name='link' value='csv入力' onclick='import_csv()'>
<input type='button' name='link' value='json出力' onclick='output_json()'>
<br>

<table border=1>
    <thead>
    <tr>
        <th class='col000'>ID</th>
        <th class='col001'>NO</th>
        <th class='col002'>名称</th>
        <th class='col003'>接続</th>
        <th class='col004'>摘要</th>
        <th class='col005'>有効</th>
        <th class='col006'>分類</th>
        <th class='col007'>許可</th>
    </tr>
    </thead>
        <tbody>
        {% for row in rows %}
        <tr onClick='location.href="/K000_detail/{{ row.MENUID }}"'>
            <td class='col000'> {{ row.MENUID }}</td>
            <td class='col001'> {{ row.MENUNO }}</td>
            <td class='col002'> {{ row.MENUNAME }}</td>
            <td class='col003'> {{ row.HREF }}</td>
            <td class='col004'> {{ row.MEMO }}</td>
            <td class='col005'> {{ row.ENABLED }}</td>
            <td class='col006'> {{ row.CATEGORY }}</td>
            <td class='col007'> {{ row.SECURITYLEVEL }}</td>
        </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}

