{% extends 'base.html' %}
{% block body %}

<style>
th {
border:1px solid white;
color:white;
background-color: #696;
}
</style>

<script>
function cmd_return(){
history.back();
}
function cmd_delete(){
    if (confirm('削除しますか？')==true)
    location.href = '/K000_delete/{{ K000.MENUID }}' ;
}
</script>

<h2>[K000_MENU][詳細][編集]</h2>
<input type='button' name='link' value='戻る' onclick='cmd_return()'>
<input type='button' name='link' value='削除' onclick='cmd_delete()'>
<br>

<div class='form'>
    <form action='/K000_update/{{ K000.MENUID }}' method='POST'>

        <table border=1>
            <tr>
                <th><label for='MENUID'>MENUID</label></th>
                <td><input type='text' name='MENUID' value={{ K000.MENUID }}></td>
            </tr>
            <tr>
                <th><label for='MENUNO'>MENUNO</label></th>
                <td><input type='text' name='MENUNO' value={{ K000.MENUNO }}></td>
            </tr>
            <tr>
                <th><label for='MENUNAME'>MENUNAME</label></th>
                <td><input type='text' name='MENUNAME' value={{ K000.MENUNAME }}></td>
            </tr>
            <tr>
                <th><label for='HREF'>HREF</label></th>
                <td><input type='text' name='HREF' value={{ K000.HREF }}></td>
            </tr>
            <tr>
                <th><label for='MEMO'>MEMO</label></th>
                <td><input type='text' name='MEMO' value={{ K000.MEMO }}></td>
            </tr>
            <tr>
                <th><label for='ENABLED'>ENABLED</label></th>
                <td><input type='text' name='ENABLED' value={{ K000.ENABLED }}></td>
            </tr>
            <tr>
                <th><label for='CATEGORY'>CATEGORY</label></th>
                <td><input type='text' name='CATEGORY' value={{ K000.CATEGORY }}></td>
            </tr>
            <tr>
                <th><label for='SECURITYLEVEL'>SECURITYLEVEL</label></th>
                <td><input type='text' name='SECURITYLEVEL' value={{ K000.SECURITYLEVEL }}></td>
            </tr>
        </table>

        <input type='submit' value='送信'>
    </form>
</div>


{% endblock %}

