{% extends 'base.html' %}
{% block body %}

<style>
th {
border:1px solid white;
color:white;
background-color: #696;
}
</style>

<script>
function cmd_return(){
location.href = '/M011_index' ;
}
function cmd_update(){
    location.href = '/M011_update/{{ M011.顧客ID }}' ;
}
</script>

<h2>[M011_顧客][詳細]</h2>
<input type='button' name='link' value='戻る' onclick='cmd_return()'>
<input type='button' name='link' value='編集' onclick='cmd_update()'>

<br>

<table border=1>
    <tr>
        <th>顧客ID</th>
        <td>{{ M011.顧客ID }}</td>
    </tr>
    <tr>
        <th>顧客No</th>
        <td>{{ M011.顧客No }}</td>
    </tr>
    <tr>
        <th>顧客名</th>
        <td>{{ M011.顧客名 }}</td>
    </tr>
    <tr>
        <th>ふりがな</th>
        <td>{{ M011.ふりがな }}</td>
    </tr>
    <tr>
        <th>郵便番号</th>
        <td>{{ M011.郵便番号 }}</td>
    </tr>
    <tr>
        <th>住所1</th>
        <td>{{ M011.住所1 }}</td>
    </tr>
    <tr>
        <th>住所2</th>
        <td>{{ M011.住所2 }}</td>
    </tr>
    <tr>
        <th>TEL</th>
        <td>{{ M011.TEL }}</td>
    </tr>
    <tr>
        <th>FAX</th>
        <td>{{ M011.FAX }}</td>
    </tr>
    <tr>
        <th>備考</th>
        <td>{{ M011.備考 }}</td>
    </tr>
    <tr>
        <th>表示</th>
        <td>{{ M011.表示 }}</td>
    </tr>
    <tr>
        <th>PCID</th>
        <td>{{ M011.PCID }}</td>
    </tr>
    <tr>
        <th>UserName</th>
        <td>{{ M011.UserName }}</td>
    </tr>
    <tr>
        <th>登録日</th>
        <td>{{ M011.登録日 }}</td>
    </tr>
    <tr>
        <th>修正日</th>
        <td>{{ M011.修正日 }}</td>
    </tr>
    <tr>
        <th>作成</th>
        <td>{{ M011.作成 }}</td>
    </tr>
    <tr>
        <th>登録</th>
        <td>{{ M011.登録 }}</td>
    </tr>
    <tr>
        <th>削除</th>
        <td>{{ M011.削除 }}</td>
    </tr>
    <tr>
        <th>KK</th>
        <td>{{ M011.KK }}</td>
    </tr>
    <tr>
        <th>SV</th>
        <td>{{ M011.SV }}</td>
    </tr>
</table>

{% endblock %}

