{% extends 'base.html' %}
{% block body %}

<style>
th {
border:1px solid white;
color:white;
background-color: #696;
}
</style>

<script>
function cmd_return(){
history.back();
}
function cmd_delete(){
    if (confirm('削除しますか？')==true)
    location.href = '/M031_delete/{{ M031.社員ID }}' ;
}
</script>

<h2>[M031_社員][詳細][編集]</h2>
<input type='button' name='link' value='戻る' onclick='cmd_return()'>
<input type='button' name='link' value='削除' onclick='cmd_delete()'>
<br>

<div class='form'>
    <form action='/M031_update/{{ M031.社員ID }}' method='POST'>

        <table border=1>
            <tr>
                <th><label for='社員ID'>社員ID</label></th>
                <td><input type='text' name='社員ID' value={{ M031.社員ID }}></td>
            </tr>
            <tr>
                <th><label for='社員No'>社員No</label></th>
                <td><input type='text' name='社員No' value={{ M031.社員No }}></td>
            </tr>
            <tr>
                <th><label for='社員名'>社員名</label></th>
                <td><input type='text' name='社員名' value={{ M031.社員名 }}></td>
            </tr>
            <tr>
                <th><label for='ふりがな'>ふりがな</label></th>
                <td><input type='text' name='ふりがな' value={{ M031.ふりがな }}></td>
            </tr>
            <tr>
                <th><label for='表示'>表示</label></th>
                <td><input type='text' name='表示' value={{ M031.表示 }}></td>
            </tr>
            <tr>
                <th><label for='PCID'>PCID</label></th>
                <td><input type='text' name='PCID' value={{ M031.PCID }}></td>
            </tr>
            <tr>
                <th><label for='UserName'>UserName</label></th>
                <td><input type='text' name='UserName' value={{ M031.UserName }}></td>
            </tr>
            <tr>
                <th><label for='登録日'>登録日</label></th>
                <td><input type='text' name='登録日' value={{ M031.登録日 }}></td>
            </tr>
            <tr>
                <th><label for='修正日'>修正日</label></th>
                <td><input type='text' name='修正日' value={{ M031.修正日 }}></td>
            </tr>
            <tr>
                <th><label for='作成'>作成</label></th>
                <td><input type='text' name='作成' value={{ M031.作成 }}></td>
            </tr>
            <tr>
                <th><label for='登録'>登録</label></th>
                <td><input type='text' name='登録' value={{ M031.登録 }}></td>
            </tr>
            <tr>
                <th><label for='削除'>削除</label></th>
                <td><input type='text' name='削除' value={{ M031.削除 }}></td>
            </tr>
            <tr>
                <th><label for='KK'>KK</label></th>
                <td><input type='text' name='KK' value={{ M031.KK }}></td>
            </tr>
            <tr>
                <th><label for='SV'>SV</label></th>
                <td><input type='text' name='SV' value={{ M031.SV }}></td>
            </tr>
        </table>

        <input type='submit' value='送信'>
    </form>
</div>


{% endblock %}

