{% extends 'base.html' %}
{% block body %}

<style>

thead, tbody {
display: block;
}

tbody {
overflow: scroll;
height: 600px;
}

th {
border:1px solid white;
color:white;
background-color: #696;
padding: 5px;
}

tr:hover {
background: steelblue none;
color: white;
}

td:hover {
background: steelblue none;
color: white;
padding: 5px;
}

.col000 {width: 100px;}
.col001 {width: 100px;}
.col002 {width: 500px;}
.col003 {width: 500px;}
.col004 {width: 500px;}
.col005 {width: 100px;}
.col006 {width: 500px;}
.col007 {width: 100px;}
.col008 {width: 100px;}
.col009 {width: 500px;}
.col010 {width: 100px;}
.col011 {width: 100px;}
.col012 {width: 500px;}
.col013 {width: 500px;}
.col014 {width: 500px;}
.col015 {width: 100px;}
.col016 {width: 100px;}
.col017 {width: 100px;}
.col018 {width: 500px;}
.col019 {width: 500px;}

</style>
<script>
function cmd_return(){
location.href = '/' ;
}
function cmd_insert(){
location.href = '/M101_insert' ;
}
function import_csv(){
location.href = '/M101_importcsv' ;
}
function output_json(){
location.href = '/M101_outputjson' ;
}
</script>

<h2>[M101_受注]</h2>
<input type='button' name='link' value='戻る' onclick='cmd_return()'>
<input type='button' name='link' value='新規' onclick='cmd_insert()'>
<input type='button' name='link' value='csv入力' onclick='import_csv()'>
<input type='button' name='link' value='json出力' onclick='output_json()'>
<br>

<table border=1>
    <thead>
    <tr>
        <th class='col000'>受注ID</th>
        <th class='col001'>受注No</th>
        <th class='col002'>入力日付</th>
        <th class='col003'>日付</th>
        <th class='col004'>顧客検索</th>
        <th class='col005'>顧客ID</th>
        <th class='col006'>社員検索</th>
        <th class='col007'>社員ID</th>
        <th class='col008'>金額</th>
        <th class='col009'>備考</th>
        <th class='col010'>Status</th>
        <th class='col011'>PCID</th>
        <th class='col012'>UserName</th>
        <th class='col013'>登録日</th>
        <th class='col014'>修正日</th>
        <th class='col015'>作成</th>
        <th class='col016'>登録</th>
        <th class='col017'>削除</th>
        <th class='col018'>KK</th>
        <th class='col019'>SV</th>
    </tr>
    </thead>
        <tbody>
        {% for row in rows %}
        <tr onClick='location.href="/M101_detail/{{ row.受注ID }}"'>
            <td class='col000'> {{ row.受注ID }}</td>
            <td class='col001'> {{ row.受注No }}</td>
            <td class='col002'> {{ row.入力日付 }}</td>
            <td class='col003'> {{ row.日付 }}</td>
            <td class='col004'> {{ row.顧客検索 }}</td>
            <td class='col005'> {{ row.顧客ID }}</td>
            <td class='col006'> {{ row.社員検索 }}</td>
            <td class='col007'> {{ row.社員ID }}</td>
            <td class='col008'> {{ row.金額 }}</td>
            <td class='col009'> {{ row.備考 }}</td>
            <td class='col010'> {{ row.Status }}</td>
            <td class='col011'> {{ row.PCID }}</td>
            <td class='col012'> {{ row.UserName }}</td>
            <td class='col013'> {{ row.登録日 }}</td>
            <td class='col014'> {{ row.修正日 }}</td>
            <td class='col015'> {{ row.作成 }}</td>
            <td class='col016'> {{ row.登録 }}</td>
            <td class='col017'> {{ row.削除 }}</td>
            <td class='col018'> {{ row.KK }}</td>
            <td class='col019'> {{ row.SV }}</td>
        </tr>
{% endfor %}
</tbody>
</table>

{% endblock %}

