{% extends 'base.html' %}
{% block body %}

<style>
th {
border:1px solid white;
color:white;
background-color: #696;
}
</style>

<script>
function cmd_return(){
history.back();
}
</script>

<h2>[X002_FormLog登録][新規]</h2>
<input type='button' name='link' value='戻る' onclick='cmd_return()'>

<div class='form'>
    <form action='/X002_insert' method='POST'>

        <table border=1>
            <tr>
                <th><label for='X002ID'>X002ID</label></th>
                <td><input type='text' name='X002ID'></td>
            </tr>
            <tr>
                <th><label for='日付'>日付</label></th>
                <td><input type='text' name='日付'></td>
            </tr>
            <tr>
                <th><label for='TickCount'>TickCount</label></th>
                <td><input type='text' name='TickCount'></td>
            </tr>
            <tr>
                <th><label for='PCID'>PCID</label></th>
                <td><input type='text' name='PCID'></td>
            </tr>
            <tr>
                <th><label for='UserName'>UserName</label></th>
                <td><input type='text' name='UserName'></td>
            </tr>
            <tr>
                <th><label for='Version'>Version</label></th>
                <td><input type='text' name='Version'></td>
            </tr>
            <tr>
                <th><label for='Mode'>Mode</label></th>
                <td><input type='text' name='Mode'></td>
            </tr>
            <tr>
                <th><label for='Description'>Description</label></th>
                <td><input type='text' name='Description'></td>
            </tr>
            <tr>
                <th><label for='ST'>ST</label></th>
                <td><input type='text' name='ST'></td>
            </tr>
            <tr>
                <th><label for='ID'>ID</label></th>
                <td><input type='text' name='ID'></td>
            </tr>
            <tr>
                <th><label for='KK'>KK</label></th>
                <td><input type='text' name='KK'></td>
            </tr>
            <tr>
                <th><label for='SV'>SV</label></th>
                <td><input type='text' name='SV'></td>
            </tr>
        </table>

        <input type='submit' value='送信'>
    </form>
</div>

{% endblock %}

