{% extends 'base.html' %}
{% block body %}

<style>
th {
border:1px solid white;
color:white;
background-color: #696;
}
</style>

<script>
function cmd_return(){
history.back();
}
function cmd_delete(){
    if (confirm('削除しますか？')==true)
    location.href = '/X003_delete/{{ X003.X003ID }}' ;
}
</script>

<h2>[X003_LogIn][詳細][編集]</h2>
<input type='button' name='link' value='戻る' onclick='cmd_return()'>
<input type='button' name='link' value='削除' onclick='cmd_delete()'>
<br>

<div class='form'>
    <form action='/X003_update/{{ X003.X003ID }}' method='POST'>

        <table border=1>
            <tr>
                <th><label for='X003ID'>X003ID</label></th>
                <td><input type='text' name='X003ID' value={{ X003.X003ID }}></td>
            </tr>
            <tr>
                <th><label for='日付'>日付</label></th>
                <td><input type='text' name='日付' value={{ X003.日付 }}></td>
            </tr>
            <tr>
                <th><label for='PCID'>PCID</label></th>
                <td><input type='text' name='PCID' value={{ X003.PCID }}></td>
            </tr>
            <tr>
                <th><label for='UserName'>UserName</label></th>
                <td><input type='text' name='UserName' value={{ X003.UserName }}></td>
            </tr>
            <tr>
                <th><label for='Version'>Version</label></th>
                <td><input type='text' name='Version' value={{ X003.Version }}></td>
            </tr>
            <tr>
                <th><label for='KK'>KK</label></th>
                <td><input type='text' name='KK' value={{ X003.KK }}></td>
            </tr>
            <tr>
                <th><label for='SV'>SV</label></th>
                <td><input type='text' name='SV' value={{ X003.SV }}></td>
            </tr>
        </table>

        <input type='submit' value='送信'>
    </form>
</div>


{% endblock %}

