{% extends 'base.html' %}
{% block body %}

<style>
th {
border:1px solid white;
color:white;
background-color: #696;
}
</style>

<script>
function cmd_return(){
history.back();
}
function cmd_delete(){
    if (confirm('削除しますか？')==true)
    location.href = '/ZIP0_delete/{{ ZIP0.郵便番号 }}' ;
}
</script>

<h2>[ZIP0_住所][詳細][編集]</h2>
<input type='button' name='link' value='戻る' onclick='cmd_return()'>
<input type='button' name='link' value='削除' onclick='cmd_delete()'>
<br>

<div class='form'>
    <form action='/ZIP0_update/{{ ZIP0.郵便番号 }}' method='POST'>

        <table border=1>
            <tr>
                <th><label for='郵便番号'>郵便番号</label></th>
                <td><input type='text' name='郵便番号' value={{ ZIP0.郵便番号 }}></td>
            </tr>
            <tr>
                <th><label for='住所'>住所</label></th>
                <td><input type='text' name='住所' value={{ ZIP0.住所 }}></td>
            </tr>
            <tr>
                <th><label for='ふりがな'>ふりがな</label></th>
                <td><input type='text' name='ふりがな' value={{ ZIP0.ふりがな }}></td>
            </tr>
            <tr>
                <th><label for='県No'>県No</label></th>
                <td><input type='text' name='県No' value={{ ZIP0.県No }}></td>
            </tr>
            <tr>
                <th><label for='都市No'>都市No</label></th>
                <td><input type='text' name='都市No' value={{ ZIP0.都市No }}></td>
            </tr>
            <tr>
                <th><label for='全住所'>全住所</label></th>
                <td><input type='text' name='全住所' value={{ ZIP0.全住所 }}></td>
            </tr>
        </table>

        <input type='submit' value='送信'>
    </form>
</div>


{% endblock %}

